<div ng-controller="LaunchInstanceConfigurationController as ctrl">
  <p class="step-description" translate>
    You can customize your instance after it has launched using the options available here.
    "Customization Script" is analogous to "User Data" in other systems.
  </p>

  <load-edit title="{$ ctrl.title $}"
             model="model.newInstanceSpec.user_data"
             max-bytes="{$ ctrl.MAX_SCRIPT_SIZE $}"
             key="user-data"
             rows=8>
  </load-edit>
</div>
