<div id="cern-toolbar">
  <h1><a href="http://home.cern" title="CERN">CERN <span>Accelerating science</span></a></h1>
  <ul class="cern-signedin">
    <li class="cern-accountlinks">
        <span>Signed in as: <a class="account" href="http://cern.ch/account" title="Signed in">{{ request.user.username }}</a> </span>
        <a class="cern-signout" href="{% url 'logout' %}" title="Sign out of your account">Sign out</a>
    </li>
    <li>
        <a class="cern-directory" href="http://cern.ch/directory" title="Search CERN resources and browse the directory">Directory</a>
    </li>
  </ul>
</div>