{% load i18n %}

{% block pre_login %}
<form id="" class="ng-pristine ng-valid ng-scope"
      method="POST"
      action="{% url 'login' %}"
      autocomplete="off"
      ng-controller="hzLoginController">
  {% csrf_token %}
{% endblock %}

  <div class="panel panel-default">

    <div class="panel-heading">
    {% block login_header %}
      <h3 class="login-title">
        {% trans 'Log in' %}
      </h3>
    {% endblock %}
    </div>

    <div class="panel-body">
    {% block login_body %}
      {% comment %}
        These fake fields are required to prevent Chrome v34+ from autofilling form.
      {% endcomment %}
      {% if HORIZON_CONFIG.password_autocomplete != "on" %}
        <div class="fake_credentials" style="display: none">
          <input type="text" name="fake_email" value="" />
          <input type="password" name="fake_password" value="" />
        </div>
      {%endif%}
      {% if show_sso_opts %}
      {% include "auth/_description.html" %}
      {% endif %}
      <fieldset hz-login-finder>
        {% if request.user.is_authenticated and 'next' in request.GET %}
          <div class="form-group clearfix error help-block alert alert-danger">
            <p>
              {% trans "You do not have permission to access the resource:" %}
            </p>
            <p>
              <strong>
                {{ request.GET.next }}
              </strong>
            </p>
            <p>
              {% url 'horizon:user_home' as home_url %}
              {% blocktrans trimmed %}
                Login as different user or go back to <a href="{{ home_url }}">home page</a>
              {% endblocktrans %}
            </p>
          </div>
        {% endif  %}
        {% if logout_reason %}
          {% if logout_status == "success" %}
            <div class="form-group clearfix error help-block alert alert-success" id="logout_reason">
          {% else %}
            <div class="form-group clearfix error help-block alert alert-danger" id="logout_reason">
          {% endif %}
              <p>{{ logout_reason }}</p>
            </div>
        {% endif %}
        {% if csrf_failure %}
            <div class="form-group clearfix error help-block alert alert-danger" id="logout_reason">
              <p>{{ csrf_failure }}</p>
            </div>
        {% endif %}
        {% if next %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />
        {% endif %}
        {% include "horizon/common/_form_fields.html" %}
      </fieldset>
    {% endblock %}
    </div>

    <div class="panel-footer">
      {% block login_footer %}
        <button id="loginBtn" type="submit" class="btn btn-primary pull-right">
          <span>{% trans "Sign In" %}</span>
        </button>
        <button type="submit" class="btn btn-info pull-left" onclick="this.form.reset();this.form.action='{{ HORIZON_CONFIG.help_url }}'">{% trans "Help" %}</button>
        <div class="clearfix"></div>
      {% endblock %}
    </div>
  </div>

{% block post_login%}
</form>
{% endblock %}
