{% load i18n %}
{% load themes %}

<li class="dropdown user-menu">
  <a data-toggle="dropdown" href="#" class="dropdown-toggle" role="button" aria-expanded="false">
    <span class="fa fa-sliders"></span>
    {% trans "Tools" %}
    <span class="fa fa-caret-down"></span>
  </a>
  <ul id="editor_list" class="dropdown-menu dropdown-menu-right selection-menu">
    <li>
      <a href="{% url 'horizon:settings:user:index' %}" target="_self">
        <span class="fa fa-cog"></span>
        {% trans "Settings" %}
      </a>
    </li>
    {% if HORIZON_CONFIG.bug_url %}
      <li>
        <a href="{{ HORIZON_CONFIG.bug_url }}" target="_blank">
          <span class="fa fa-bug"></span>
          {% trans "Report Bug" %}
        </a>
      </li>
    {% endif %}
    {% if HORIZON_CONFIG.help_url %}
      <li>
        <a href="{{ HORIZON_CONFIG.help_url }}" target="_blank">
          <span class="fa fa-question-circle"></span>
          {% trans "Help" %}
        </a>
      </li>
    {% endif %}

    {% if HORIZON_CONFIG.ticket_url %}
      <li>
        <a href="{{ HORIZON_CONFIG.ticket_url }}" target="_new">
          {% trans "Submit a ticket" %}
        </a>
      </li>
    {% endif %}

    {% for link in USER_MENU_LINKS %}
      <li>
        {% if link.external %}
          <a href="{{ link.url }}">
        {% else %}
          <a href="{% url link.url %}">
        {% endif %}

        {% if link.icon_classes %}
            <span class="fa {{ link.icon_classes | join:" "}}"></span>
        {% else %}
            <span class="fa fa-download"></span>
        {% endif %}
        {{ link.name }}
        </a>

      </li>
    {% endfor %}

    {% themes as available_themes %}
    {% if available_themes and available_themes|length > 1 %}
      <li class="divider"></li>
      <li>
        {% include 'header/_theme_list.html' %}
      </li>
    {% endif %}
  </ul>
</li>
