{% load i18n horizon humanize bootstrap %}

<h3>{% trans "Description:" %}</h3>

<p>{% block title %}{% trans "Volumes are block devices that can be attached to instances." %}{% endblock %}</p>

<div id="id_show_volume_type_desc_div">
  <h3>{% trans "Volume Type Description:" %}</h3>
  <table class="flavor_table table-striped">
    <tbody>
      <tr><td class="flavor_name">{% trans "Type" %}</td><td><span id="type_name"></span></td></tr>
      <tr><td class="flavor_name">{% trans "Usage" %}</td><td><span id="type_usage"></span></td><td></tr>
      <tr><td class="flavor_name">{% trans "Max IOPS" %}</td><td><span id="type_iops"></span></td></tr>
      <tr><td class="flavor_name">{% trans "Max Throughput" %}</td><td><span id="type_throughput"></span></td></tr>
    </tbody>
  </table>
</div>

<h3>{% block head %}{% trans "Volume Limits" %}{% endblock %}</h3>

<div class="quota_title">
  <div class="pull-left">
    <strong>{% trans "Total Gibibytes" %}</strong>
  </div>
  <span class="pull-right">
    {% blocktrans with used=usages.gigabytes.used|intcomma quota=usages.gigabytes.quota|intcomma|quotainf %}{{ used }} of {{ quota }} GiB Used{% endblocktrans %}
  </span>
</div>

{{ minifyspace }}
<div id="quota_size"
     data-progress-indicator-for="id_size"
     data-quota-limit="{{ usages.gigabytes.quota }}"
     data-quota-used={% block gigabytes_used_progress %}"{{ usages.gigabytes.used }}"{% endblock %}
     class="quota_bar">
  {% widthratio usages.gigabytes.used usages.gigabytes.quota 100 as gigabytes_percent %}
  {% bs_progress_bar gigabytes_percent 0 %}
</div>
{{ endminifyspace }}

<div class="quota_title">
  <div class="pull-left">
    <strong>{% block type_title %}{% trans "Number of Volumes" %}{% endblock %}</strong>
  </div>
  <span class="pull-right">
    {% block used_of_quota %}
      {% blocktrans with used=usages.volumes.used|intcomma quota=usages.volumes.quota|intcomma|quotainf %}{{ used }} of {{ quota }} Used{% endblocktrans %}
    {% endblock %}
  </span>
</div>

{{ minifyspace }}
<div id={% block type_id %}"quota_volumes"{% endblock %}
     data-quota-limit={% block total_progress %}"{{ usages.volumes.quota }}"{% endblock %}
     data-quota-used={% block used_progress %}"{{ usages.volumes.used }}"{% endblock %}
     class="quota_bar">
  {% block show_progress_bar %}
    {% widthratio usages.volumes.used usages.volumes.quota 100 as volumes_percent %}
    {% if numRequestedItems %}
      {% widthratio 100 usages.volumes.quota numRequestedItems as single_step %}
    {% else %}
      {% widthratio 100 usages.volumes.quota 1 as single_step %}
    {% endif %}
    {% bs_progress_bar volumes_percent single_step %}
  {% endblock %}
</div>
{{ endminifyspace }}

{% for volume_type in volume_types %}
  <div id="type_{{volume_type.name}}">
    {% with used_gigabytes="used_gigabytes_"|add:volume_type.name total_gigabytes="total_gigabytes_"|add:volume_type.name %}
      {% if quotas|get_item:total_gigabytes != 0 %}
        <div class="quota_title">
          <div class="pull-left">
            <strong>{% trans "Total Gibibytes for " %} {{ volume_type.name }}</strong>
            <span>({{ quotas|get_item:used_gigabytes|intcomma }} {% trans "GiB" %})</span>
          </div>
          <span class="pull-right">{{ quotas|get_item:total_gigabytes|quota:_("GiB")|intcomma }}</span>
        </div>

        <div id="{{volume_type.name}}_quota_size"
             data-progress-indicator-for="id_size"
             data-quota-limit="{{ quotas|get_item:total_gigabytes }}"
             data-quota-used="{{ quotas|get_item:used_gigabytes }}"
             class="quota_bar">
          {% widthratio quotas|get_item:used_gigabytes quotas|get_item:total_gigabytes 100 as gigabytes_percent %}
          {% bs_progress_bar gigabytes_percent 0 %}
        </div>
      {% else %}
        <h5><div class="no_such_volume_type">No access to selected volume type!</div></h5>
      {% endif %}
    {% endwith %}

    {% with used_volumes="used_volumes_"|add:volume_type.name total_volumes="total_volumes_"|add:volume_type.name %}
      {% if quotas|get_item:total_volumes != 0 %}
        <div class="quota_title">
          <div class="pull-left">
            <strong>{% trans "Number of Volumes for " %}{{ volume_type.name }}</strong>
            <span>({{ quotas|get_item:used_volumes|intcomma }})</span>
          </div>
          <span class="pull-right">{{ quotas|get_item:total_volumes|quota|intcomma }}</span>
        </div>

        <div id="{{volume_type.name}}_quota_volumes"
             data-quota-limit="{{ quotas|get_item:total_volumes}}"
             data-quota-used="{{ quotas|get_item:used_volumes }}"
             class="quota_bar">
          {% widthratio quotas|get_item:used_volumes quotas|get_item:total_volumes 100 as volumes_percent %}
          {% if usages.numRequestedItems %}
            {% widthratio 100 quotas|get_item:total_volumes usages.numRequestedItems as single_step %}
          {% else %}
            {% widthratio 100 quotas|get_item:total_volumes 1 as single_step %}
          {% endif %}
          {% bs_progress_bar volumes_percent single_step %}
        </div>
      {% endif %}
    {% endwith %}
  </div>
{% endfor %}

<script type="text/javascript" charset="utf-8">
  if(typeof horizon.Quota !== 'undefined') {
    horizon.Quota.initWithTypes({{ volume_types|safe|default:"{}" }});
  } else {
    addHorizonLoadEvent(function() {
      horizon.Quota.initWithTypes({{ volume_types|safe|default:"{}" }});
    });
  }

  if(typeof horizon.Volumes !== 'undefined') {
    horizon.Volumes.initWithTypes({{ volume_types|safe|default:"{}" }});
  } else {
    addHorizonLoadEvent(function() {
      horizon.Volumes.initWithTypes({{ volume_types|safe|default:"{}" }});
    });
  }
</script>
