// Make the sidebar span the entire page, instead of just the Viewport
// Display Table is not ideal, but it will allow dynamic resizing of
// the sidebar while growing its container to fill the entire window
html,
body:not(#splash) {
  height: 100%;
}

#sidebar {
  float: left;
}

// Always show the side nav on larger screens
@media(min-width: $screen-sm-min) {
  #content_body {
    padding-left: $sidebar-width;
  }
}

.page-header {
  margin-top: $padding-base-horizontal;
}
.navbar-brand {
  padding: 0 $padding-small-horizontal;
  margin: 0;
  display: block;

  img {
    display: inline-block;
    height: $navbar-height - $padding-small-vertical*2;
    vertical-align: middle;
  }
}

//Specifity Required
.navbar-header .navbar-brand {

  // These allow the vertical centering to work properly
  line-height: $navbar-height;
  font-size: 0;
}

.topbar {
  .navbar {
    margin-bottom: 1px;
    padding-top: 40px;
  }

  .navbar-nav .header-overflow ul li{
    white-space: nowrap;
    padding: $bs-dropdown-item-padding-vertical $bs-dropdown-item-padding-horizontal;
  }

  .dropdown-toggle > .fa {
    padding-left: $padding-small-vertical;
    padding-right: $padding-small-vertical;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.context-delimiter {
  font-size: $padding-large-horizontal;
  vertical-align: middle;
  padding-right: $padding-small-vertical;
  padding-left: $padding-small-vertical;
}

// Scrollbar for the project menu on larger screens
// Not needed for smaller screens, as it is already scrollable
// and can be collapsed to access the settings menu etc.
@media(min-width: $screen-sm-min) {
  .context-selection {
    max-height: $context-selector-max-height;
    overflow-y: scroll;
  }
}
