{% load i18n %}

<h3>{% trans "Instance Console" %}</h3>
{% if console_url %}
{% if console_url|get_dict|get_type == 'dict' %}
    <script type="text/javascript">
    function swap(id) {

            var td = document.getElementById(id);
            if (td.style.display === "none")
                td.style.display = "table-cell";
            else
{#                td.innerHTML = "***"#}
                td.style.display = "none";
    }
    </script>
    <p class='alert alert-info'>Your instance is running using OpenStack Ironic component. Below you can find credentials to access its BMC console.</p>
    <table class="table table-striped table-rsp table-detail">
    <tbody>
      <tr>
        <td>URL</td>
{#        <td></td>#}
        <td><a href="{{ console_url|get_dict|get_item:'url' }}" target="_blank">{{ console_url|get_dict|get_item:'url' }}</a></td>
      </tr>
      <tr>
        <td>Username</td>
{#        <td><span class="fa fa-arrow-right" onclick="swap('console_username')"></span></td>#}
        <td id="console_username">{{ console_url|get_dict|get_item:'username' }}</td>
      </tr>
      <tr>
        <td>Password</td>
{#        <td><span class="fa fa-arrow-right" onclick="swap('console_password')"></span></td>#}
        <td id="console_password">{{ console_url|get_dict|get_item:'password' }}</td>
      </tr>
    </tbody>
    </table>

{% else %}
<p class='alert alert-info'>
{% if console_type != 'SERIAL' %}
{% blocktrans %}If console is not responding to keyboard input: click the grey status bar below.{% endblocktrans %}
{% endif %}
<a href="{{ console_url }}"  style="text-decoration: underline">{% trans "Click here to show only console" %}</a><br />
    {% trans "To exit the fullscreen mode, click the browser's back button." %}</p>
<iframe id="console_embed" src="{{ console_url }}" style="width:100%;height:100%"></iframe>
<script type="text/javascript">
    var fix_height = function() {
        $('iframe#console_embed').css({ height: $(document).height() + 'px' });
    };
    // there are two code paths to this particular block; handle them both
    if (typeof($) != 'undefined') {
        $(document).ready(fix_height);
    } else {
        addHorizonLoadEvent(fix_height);
    }
</script>
{% endif %}
{% else %}
  <script type="text/javascript">
    horizon.toast.add('error', '{% blocktrans %}Console is currently unavailable.{% endblocktrans %}');
  </script>
  <div class="well">{% blocktrans %}Unable to load console. Please reload page to try again.{% endblocktrans %}</div>
{% endif %}
