#cern-toolbar {
	position: fixed;
    right: 0;
    left: 0;
    z-index: 2000;
	background-color: #222;
	background-color: rgba(30, 30, 30, 1);
	font-family: PT Sans, Trebuchet MS, Tahoma, sans-serif;
	color: #999;
	font-size: 14px;
	line-height: 1;
	padding: 0 5%;
	overflow: hidden;
	box-shadow: inset 0 -1px 0 rgba(100, 100, 100, 0.2);
	height: 40px;
	a {
		color: #ccc;
		text-decoration: none;
		padding: 6px 8px;
		border-radius: 5px;
		display: inline-block;
		transition: background-color 0.1s ease-out;
		&:hover {
			background-color: #000;
			color: #fff;
		}
		span {
			transition: background-color 0.1s ease-out;
		}
	}
	.active {
		a {
			background-color: #f6f6f6;
			color: #000;
			padding-bottom: 20px;
		}
		.cern-account {
			background-color: #fff;
		}
	}
	h1 {
		float: left;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
		position: relative;
		left: -8px;
		padding: 6px 0;
		letter-spacing: 0.08em;
		margin: 0;
		a {
			color: #fff;
			&:hover span {
				color: #fff;
			}
		}
		span {
			color: #999;
			letter-spacing: normal;
			padding: 0;
		}
	}
	ul {
		float: right;
		list-style: none;
		position: relative;
		right: -8px;
		margin: 0;
	}
	li {
		float: left;
		display: block;
		margin-left: 1em;
		padding: 6px 0;
	}
	.cern-multifactor {
		padding-left: 32px;
		background-image: url("/static/themes/cern_default/toolbar/toolbarsprite.png");
		background-repeat: no-repeat;
		background-position: 0 -120px;
	}
	.cern-signout {
		margin-left: 1em;
	}
}
@media only screen and(max-width:750px) {
	#cern-toolbar {
		ul {
			border-right: 1px solid #000;
			box-shadow: 1px 0 0 #444;
		}
		li {
			padding: 0;
			margin: 0;
			border-left: 1px solid #000;
			a {
				background-image: url("/static/themes/cern_default/toolbar/toolbarsprite.png");
				background-repeat: no-repeat;
				height: 40px;
				width: 40px;
				border-radius: 0;
				text-indent: -5000px;
				overflow: hidden;
				border-left: 1px solid #444;
			}
		}
		.cern-account {
			background-position: 9px 0;
		}
		.cern-directory {
			background-position: 9px -40px;
		}
		.cern-signout {
			background-position: 9px -80px;
			margin-left: 0;
		}
		.active {
			.cern-account {
				background-position: -31px 0;
			}
			.cern-directory {
				background-position: -31px -40px;
			}
		}
		.cern-multifactor {
			background-image: none;
			padding: 0;
		}
		h1 span {
			display: none;
		}
		.cern-accountlinks span {
			display: none;
		}
	}
}
